{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>

<style>
{% block style %}

{% endblock style %}
</style>
<body>

  <div class="headerTest" style="background: rgb(255, 255, 255) url('') no-repeat fixed center
  {% if 'appointment' in request.path %}
  max-height:300px!important;min-height:1px!important;
  {% endif %}">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="row container-fluid">
        <img class="mr-2" alt="" src="{% static 'img/logo.png' %}" width="50" height="50">
        <a class="navbar-brand" style="color: #F28F50; font-family: 'Source Sans Pro'; font-weight: 900;" href="">PHYLAX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/#home" style="color: #F28F50; font-family: 'Open Sans'; font-weight:300; ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features" style="color: #F28F50; font-family: 'Open Sans'; font-weight:300; " >Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#newletters" style="color: #F28F50; font-family: 'Open Sans'; font-weight:300; ">Newsletters</a>
            </li>
        <!-- <div class= "search-bar">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>  -->
          </ul>
        </div>
      </div>
    </nav>
   
   {% block cta %}{% endblock cta %}
</div>


    {% block content %}{% endblock content %}

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
 <script>
    {% block script %}{% endblock script %}
 </script>
</body>

</html>
