{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<style>
{% block style %}{% endblock style %}
</style>
<body>

  <div class="headerTest" style="background: rgb(255, 255, 255) url('') no-repeat fixed center
  {% if 'appointment' in request.path %}
  max-height:300px!important;min-height:300px!important;
  {% endif %}">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: #F28F50;" href="">Phylax</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/" style="color: #F28F50;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team" style="color: #F28F50;">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services" style="color: #F28F50;">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reviews" style="color: #F28F50;">Testimonial</a>
            </li>
            <li class= "nav-item">
              <a class="nav-link" href="#contact" style="color: #F28F50;">Contact Us</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="{% url 'manage' %}" style="float: left;cursor:pointer;" aria-expanded="true" title="You Have 6 New Appointments">
                <i class="far fa-bell" style="font-size: 20px; float: left; color: black">
                </i>
              </a>
              <span class="badge badge-danger">{{count}}</span>
            </li>
        <div class= "search-bar">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
          </ul>
        </div>
      </div>
    </nav>
   
   {% block cta %}{% endblock cta %}
</div>


    {% block content %}{% endblock content %}

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  
 <script>
    {% block script %}{% endblock script %}
 </script>
</body>

</html>
