{% extends 'base.html' %}
{% load static %}
{% block cta %}

<section id="home" class="featured-destinations bg-lightblue">
  <div class="row p-4 p-md-5 mb-4 text-white rounded" style="background-color: #F28F50;">
    <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0" style="color: white;">
      <div class="p-10 ml-3">
        <h1 style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900; font-size: 70px;">Wellness within your reach</h1>
        <p style="font-family: 'Open Sans'; font-weight:300; font-size: 21px;">Ålesund is a town and municipality in lorem ipsum malte youg chet brus jagget</p>
        <div class="dropdown">
          <a class="btn btn-success btn-rounded dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a href="{% url 'manage' %}" class="dropdown-item" href="#">Physician</a></li>
            <li><a href="{% url 'appointment' %}" class="dropdown-item" href="#">Patient</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-0">
      <img class= "" alt= "" src="{% static 'img/girl.jpg' %}" style="max-height: 100%; max-width: 100%; object-fit: contain;">
    </div>
  </div>
</section>

{% endblock cta %}

{% block content %}
<section id="features">
  <div class="container marketing py-5">
    <div class="row text-center ">
      <div class="col-lg-8 mx-auto">
          <h1 class="display-4" style="font-family: 'Open Sans'; font-weight: 300;">Phylax</h1>
          <p class="lead" style="font-family: 'Open Sans'; font-weight: 300; font-size: 21px;">Here are the features of Phylax.
          </p>
      </div>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row text-center py-5">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#7189C4"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900; font-size: 30px;">Heading</h2>
        <p class="lead" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#7189C4"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900; font-size: 30px;">Heading</h2>
        <p class="lead" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#7189C4"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900; font-size: 30px;">Heading</h2>
        <p class="lead" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">And lastly this, the third column of representative placeholder content.</p>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>
</section>

<section id="newletters">
  <div class="row p-4 p-md-5 mb-4 text-white rounded" style="background-color: #F28F50;">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic" style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900; font-size: 60px;">Title of a longer featured blog post</h1>
      <p class="lead my-3" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
    <div class="col-md-6 px-0">
      <img class= "" alt= "" src="{% static 'img/nurse.jpg' %}" style="max-height: 100%; max-width: 100%; object-fit: contain;">
    </div>
  </div>

  <div class="row mb-2" >
    <div class="col-md-5 mx-auto">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px; color:black;">World</strong>
          <h3 class="mb-0"style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900;">Featured post</h3>
          <div class="mb-1 text-muted" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Nov 12</div>
          <p class="card-text mb-auto" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#7189C4"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-5 mx-auto">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px; color: black;">Design</strong>
          <h3 class="mb-0"style="font-family: 'Source Sans Pro'; font-size:xx-large; font-weight: 900;">Post title</h3>
          <div class="mb-1 text-muted" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Nov 11</div>
          <p class="mb-auto" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link" style="font-family: 'Open Sans'; font-weight: 300; font-size: 16px;">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#7189C4"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0" >
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:#F28F50;">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Far Eastern University (Digi-tams)</a>
  </div>
  <!-- Copyright -->
</footer>


{% endblock content %}