{% extends 'base.html' %}

{% block content %}
<body>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'physicians' %}">
                  <span data-feather="users"></span>
                  Physicians
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  <span data-feather="file"></span>
                  Appointment
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Messages
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Analytics
                </a>
              </li>
            </ul>
          </div>
        </nav>
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Book an Appointment</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          {% if messages %}
          <div class="notification-card notification-invitation">
              <div class="">
              {% for message in messages %}
                      <div class="card-title">{{message}} </div>
                  {% endfor %}
              </div>
            </div> 
          {% endif %}
          <div class="container-fluid px-1 py-0 mx-auto">
              <div class="row d-flex">
                  <div class="col-xl-7 col-lg-8 col-md-9 col-11">
                      <p class="">Use the following form to contact us and request an appointment.</p>
                      <div class="mt-5">
                          <form class="form-card" method="POST" action="{% url 'appointment' %}">
                          {% csrf_token %}
                              <div class="row justify-content-between text-left">
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                  <label class="form-control-label px-3">First name<span class="text-danger"> *</span>
                                  </label> 
                                  <input required type="text" id="fname" name="fname" placeholder="Enter your first name" onblur="validate(1)"> 
                              </div>
      
                              <div class="form-group col-sm-6 flex-column d-flex"> 
                                  <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> 
                                  <input required type="text" id="lname" name="lname" placeholder="Enter your last name" onblur="validate(2)"> 
                              </div>
      
                              </div>
      
                              <div class="row justify-content-between text-left">
      
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Email<span class="text-danger"> *</span>
                                      </label> 
                                      <input type="text" id="email" name="email" placeholder="" onblur="validate(3)"> 
                                  </div>
      
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                   <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> 
                                    <input type="text" id="mob" name="mobile" placeholder="" onblur="validate(4)"> 
                                  </div>
      
                              </div>
      
                              <div class="row justify-content-between text-left">
                                  <div class="form-group col-12 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Your request<span class="text-danger"> *</span></label> 
                                      <textarea type="text" id="ans" name="request" placeholder="" onblur="validate(6)"></textarea> 
                                  </div>
                              </div>
                              <div class="row justify-content-end">
                                  <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Send</button> </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  
    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>

<section id="contact" class="m-4 p-4">
    <div class="container">
        <!-- <div class="row text-center">
            <div class="col-sm-6">
            <div class="contact-detail-box">
                <i class="far fa-envelope text-colored fa-3x"></i>
                <h4>Get In Touch</h4>
                <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                E: <a href="mailto:email@email.com" class="text-muted">email@email.com</a>
            </div>
            </div>
    
            <div class="col-sm-6">
            <div class="contact-detail-box">
                <i class="fa fa-map-marker fa-3x text-colored"></i>
                <h4>Our Location</h4>
    
                <address>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
            </address>
            </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-6">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=New+York+University&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>
            </div><!-- end col -->
    
            <!-- Contact form -->
            <div class="col-sm-6">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
                <div class="form-group">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="Name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
                </div> <!-- /Form-name -->
    
                <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="Email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
                </div> <!-- /Form-email -->
    
                <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="Message"></textarea>
    
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
                </div> <!-- /col -->
    
                <div class="row">            
                    <button type="submit" class="btn btn-primary btn-rounded w-md ml-3 mt-3" id="send">Send</button>
                </div> <!-- /col -->
                </div> <!-- /row -->
    
            </form> <!-- /form -->
            </div> <!-- end col -->
    
        </div> <!-- end row -->
            
        </div>
</section>

{% endblock content %}